#header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  margin-top: 40px;
  padding-left: 55px;
}
.header {
  width: 100%;
  @include display($direction: row, $items: center, $justify: space-between);
  &__logo {
    width: 48px;
    height: 48px;
    background-color: $primary-color;
    border-radius: 50%;
  }
  &__nav {
    &--list {
      @include display($direction: row, $items: center, $justify: flex-start);
      gap: 48px;
      min-width: 830px;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
      padding: 39px 0;
      padding-left: 123px;
      overflow: hidden;
    }
    &--link {
      @include textStyle(
        $fs: 16px,
        $fw: 400,
        $lh: 19px,
        $clr: $primary-color,
        $mb: 0px
      );
      letter-spacing: 2.700000047683716px;
      font-family: "Barlow Condensed";
      text-transform: uppercase;
      font-family: Barlow Condensed;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        left: 0;
        bottom: -2px;
        z-index: -1;
        transition: all 0.3s ease;
      }
      &:hover {
        color: #000;
        &::after {
          height: 100%;
          border: 1px solid $primary-color;
        }
      }
    }
  }
}

.crew__main {
  background-image: url(../../images/crew-bg.png);
  height: 900px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.crew__sec {
  padding-top: 188px;
  display: flex;
  align-items: flex-end;

}

.crew__ul {
  margin-bottom: -150px;
}

.crew__ul-div {
  width: 15px;
  height: 15px;
  top: 791px;
  left: 167px;
  gap: 0px;
  opacity: 17.44%;
  background: $primary-color;
  border-radius: 50%;
  transition: all 0.3s;


  &:hover {
    opacity: 100%;
  }
}

.crew__li-p {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #d0d6f9;
  margin-bottom: 120px;
  width: 444px;
  height: 128px;
  top: 543px;
  left: 165px;
  gap: 0px;
  opacity: 0px;
}

.crew__li-h2 {
  width: 488px;
  height: 64px;
  top: 452px;
  left: 165.5px;
  gap: 0px;
  opacity: 0px;
  font-family: Bellefair;
  font-size: 56px;
  font-weight: 400;
  line-height: 64.18px;
  text-align: left;
  color: $primary-color;
  margin-bottom: 27px;
}

.crew__li > strong {
  width: 214px;
  height: 37px;
  top: 400px;
  left: 165.5px;
  gap: 0px;
  opacity: 50.42%;
  font-family: Bellefair;
  font-size: 32px;
  font-weight: 400;
  line-height: 36.67px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 15px;
}

.crew__div {
  display: flex;
  gap: 24px;
  margin-bottom: 154px;

}

.crew__div > span {
  width: 30px;
  height: 34px;
  gap: 0px;
  opacity: 25%;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: 4.724999904632568px;
  text-align: left;
  color: #ffffff;
}

.crew__div > p {
  width: 228px;
  height: 34px;
  left: 54px;
  gap: 0px;
  opacity: 0px;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: 4.724999904632568px;
  text-align: left;
  color: #ffffff;

}
